:root {
  --primary-500: #3182ce;
  --primary-600: #2b6cb0;
  --primary-700: #2c5282;
  --error-color: #e53e3e;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background-color: #272727;
  outline: 1px solid #212222;
}

::selection {
  background-color: #2563eb;
  color: #fefefe;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
